<div class="main-container border border-success p-5">
    <section id="features">
  <div class="row flex-column border border-warning justify-content-center align-items-center "
  >
    <div class="col-12 border border-warning" style="max-width: fit-content">
      <h1>Premium Feature</h1>
    </div>

    <div class="col-12 border border-warning" style="max-width: fit-content">
      <h1>What Makes sApp Different?</h1>
    </div>

    <div class="col-12 border border-warning" style="max-width: fit-content">
      <span>border here</span>
    </div>

    <div class="col-12 border border-warning" style="max-width: fit-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum
        obcaecati dignissimos quae quo ad iste ipsum officiis deleniti
        asperiores sit.
      </p>
    </div>
  </div>

  <div class="row cards-div justify-content-center">
    <div class="col-lg-4 col-md-6 col-12 border border-warning text-center justify-content-center d-flex">

      <div class="card" style="width: 18rem">
        <img class="card-img-top " src="https://dummyimage.com/50x50/000/fff&text=icon+150x150" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title features-card-heading">Fully functional</h5>
          <p class="card-text features-card-description">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>

    </div>


    <div class="col-lg-4 col-md-6 col-12 border border-warning text-center justify-content-center d-flex">

      <div class="card" style="width: 18rem">
        <img class="card-img-top " src="https://dummyimage.com/50x50/000/fff&text=icon+150x150" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title features-card-heading">Live Chat</h5>
          <p class="card-text features-card-description">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>

    </div>


    <div class="col-lg-4 col-md-6 col-12 border border-warning text-center justify-content-center d-flex">

      <div class="card" style="width: 18rem">
        <img class="card-img-top " src="https://dummyimage.com/50x50/000/fff&text=icon+150x150" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title features-card-heading">Secure Data</h5>
          <p class="card-text features-card-description">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>

    </div>


  </div>

  <div class="row features-detail1 border border-warning p-2">

    <div class="col-12 col-lg-6  features-detail1-description-mainDiv border border-danger p-3 order-1">
         
        <div class="features-detail1-heading border border-primary">
            <h1 class="w-50">
                Make Your Device Manage Everything For You
            </h1>
        </div>

        <div class="row features-detail1-description-insideDiv border border-primary  justify-content-center align-items-center">

        <div class="col-2 border border-secondary feature-detail1-description-insideDiv-icon justify-content-center align-items-center d-flex">
        <i class="border border-secondary">icon here</i>
        </div>
        
        <div class="col-8 feature-detail1-description-insideDiv-decription border border-secondary justify-content-center align-items-center d-flex">
            <p>Fully layered dolor sit amet, consectetur adipisicing elit. Facere, nobis, id expedita dolores officiis laboriosam.</p>
        </div>

        </div>

        <div class="row features-detail1-description-insideDiv border border-primary justify-content-center align-items-center">

            <div class="col-2 border border-secondary feature-detail1-description-insideDiv-icon justify-content-center align-items-center d-flex">
            <i class="border border-secondary">icon here</i>
            </div>
            
            <div class="col-8 feature-detail1-description-insideDiv-decription border border-secondary justify-content-center align-items-center d-flex">
                <p>Fully layered dolor sit amet, consectetur adipisicing elit. Facere, nobis, id expedita dolores officiis laboriosam.</p>
            </div>
    
        </div>

        <div class="row features-detail1-description-insideDiv border border-primary justify-content-center align-items-center">

            <div class="col-2 border border-secondary feature-detail1-description-insideDiv-icon justify-content-center align-items-center d-flex">
            <i class="border border-secondary">icon here</i>
            </div>
            
            <div class="col-8 feature-detail1-description-insideDiv-decription border border-secondary justify-content-center align-items-center d-flex">
                <p>Fully layered dolor sit amet, consectetur adipisicing elit. Facere, nobis, id expedita dolores officiis laboriosam.</p>
            </div>
    
        </div>

        <div class="row features-detail1-description-insideDiv border border-primary justify-content-center align-items-center">

            <div class="col-2 border border-secondary feature-detail1-description-insideDiv-icon justify-content-center align-items-center d-flex">
            <i class="border border-secondary">icon here</i>
            </div>
            
            <div class="col-8 feature-detail1-description-insideDiv-decription border border-secondary justify-content-center align-items-center d-flex">
                <p>Fully layered dolor sit amet, consectetur adipisicing elit. Facere, nobis, id expedita dolores officiis laboriosam.</p>
            </div>
    
        </div>

        <div class="row features-detail1-insideDiv-button pt-3 pb-3 "> 
            <button class="btn btn-primary w-25">Learn More</button>
        </div>
        

    </div>

    <div class="col-12 col-lg-6 features-detail1-image border border-danger justify-content-center align-items-center d-flex order-2">
    <span class="border">Image here </span>
    </div>

  </div>

  <div class="row features-detail2 border border-warning p-2">

    <div class="col-12 col-lg-6  features-detail2-description-mainDiv border border-danger p-3 order-lg-2">
         
        <div class="features-detail2-heading border border-primary">
            <h1 class="w-50">
                Easily communicate with clients using sApp.
            </h1>
            <p class="pt-3 pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique dolor ut iusto vitae autem neque eum ipsam.</p>
        </div>

        <div class="row features-detail2-description-insideDiv border border-primary  justify-content-center align-items-center">

        <div class="col-2 border border-secondary feature-detail2-description-insideDiv-icon justify-content-center align-items-center d-flex">
        <i class="border border-secondary">icon here</i>
        </div>
        
        <div class="col-8 feature-detail2-description-insideDiv-decription border border-secondary justify-content-center align-items-center d-flex">
        <p>Combined with a handful of model sentence structures looks reasonable.</p>
        </div>

        </div>

        <div class="row features-detail2-description-insideDiv border border-primary justify-content-center align-items-center">

            <div class="col-2 border border-secondary feature-detail2-description-insideDiv-icon justify-content-center align-items-center d-flex">
            <i class="border border-secondary">icon here</i>
            </div>
            
            <div class="col-8 feature-detail2-description-insideDiv-decription border border-secondary justify-content-center align-items-center d-flex">
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
            </div>
    
        </div>

        <div class="row features-detail2-description-insideDiv border border-primary justify-content-center align-items-center">

            <div class="col-2 border border-secondary feature-detail2-description-insideDiv-icon justify-content-center align-items-center d-flex">
            <i class="border border-secondary">icon here</i>
            </div>
            
            <div class="col-8 feature-detail2-description-insideDiv-decription border border-secondary justify-content-center align-items-center d-flex">
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
            </div>
    
        </div>

        <div class="row features-detail2-description-insideDiv border border-primary justify-content-center align-items-center">

            <div class="col-2 border border-secondary feature-detail2-description-insideDiv-icon justify-content-center align-items-center d-flex">
            <i class="border border-secondary">icon here</i>
            </div>
            
            <div class="col-8 feature-detail2-description-insideDiv-decription border border-secondary justify-content-center align-items-center d-flex">
               <p>All the Lorem Ipsum generators on the Internet tend to repeat necessary.</p>
            </div>
    
        </div>

        <div class="row features-detail2-insideDiv-bottom-icons pt-3 pb-3"> 
            <div class="col-1 col-offset">
                <i class="border border-secondary  ">icon here</i>
                
            </div>
            <div class="col-1 col-offset">
                <i class="border border-secondary">icon here</i>
           
            </div>
            <div class="col-1 col-offset">
                <i class="border border-secondary">icon here</i>
                
            </div>
        </div>
        

    </div>

    <div class="col-12 col-lg-6 features-detail2-image border border-danger justify-content-center align-items-center d-flex order-lg-1">
    <span class="border">Image here </span>
    </div>

  </div>


   <div class="row app-working-mainDiv border border-warning p-2 p-2">
    <div class="background-color-div bg-primary text-white p-3 justify-content-center align-items-center flex-column  d-flex">
   <div class="col-10 border border-danger text-center">
    <h1 class="">How sApp works?</h1>
    <p class="pt-3 pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.</p>
   </div>

   <div class="col-12 border border-danger p-3">
    <div class="row app-working-steps-main p-3 border d-flex justify-content-center align-items-center">
        <div class="col-sm-3 col-12 app-working-step border border-secondary text-center">
            <span>icon here</span>
            <h3 class="app-working-step-heading pt-3 pb-3">Install the App</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius saepe, voluptates quis enim incidunt obcaecati?</p>
        </div>
        <div class="arrow border col   d-flex align-items-center justify-content-center" style="max-width: fit-content; font-size: 2.5rem;">></div>
        <div class="col-sm-3 col-12 app-working-step border border-secondary text-center">
            <span>icon here</span>
            <h3 class="app-working-step-heading pt-3 pb-3">Setup your profile</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius saepe, voluptates quis enim incidunt obcaecati?</p>
        </div>
        <div class="arrow border col   d-flex align-items-center justify-content-center" style="max-width: fit-content; font-size: 2.5rem;">></div>
        <div class="col-sm-3 col-12 app-working-step border border-secondary text-center">
            <span>icon here</span>
            <h3 class="app-working-step-heading pt-3 pb-3">Enjoy the features!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius saepe, voluptates quis enim incidunt obcaecati?</p>
        </div>
    </div>
   </div>
   </div>
   

   </div>

</section>

</div>



















