
<nav class="navbar navbar-expand-lg navbar-light text-white" [ngClass]="{'fixed-top': isFixedNavbar , 'bg-light':isFixedNavbar}">
  <div class="container  mt-0">
    <div >
      <a class="navbar-brand" routerLink="home">S</a>

    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-0 mt-lg-0" style="cursor: pointer">
        <li class="nav-item">
          <a
            class="nav-link"
          [ngClass]="{ 'active': homeActive }"

          (click)="toNavigate('home')"

            aria-current="page"
            routerLink="home"
          
            
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
          [ngClass]="{ 'active': featureActive }"
          (click)="toNavigate('features')"
            class="nav-link"
            aria-current="page"
          
            >Features</a
          >
        </li>
        <li class="nav-item">
          <a
          [ngClass]="{ 'active': screenshotActive }"
          (click)="toNavigate('screenshots')"
            class="nav-link"
            tabindex="-1"
            aria-disabled="true"
          
            >Screenshots</a
          >
        </li>
        <li class="nav-item">
          <a
          [ngClass]="{ 'active': pricingActive }"
          (click)="toNavigate('pricing')"
            class="nav-link"
            tabindex="-1"
            aria-disabled="true"
          
            >Pricing</a
          >
        </li>
     
        <li class="nav-item">
          <a
          [ngClass]="{ 'active': contactActive }"
          (click)="toNavigate('contact')"
            class="nav-link px-0"
            tabindex="-1"
            aria-disabled="true"
          
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
