<app-navbar class=" home-bg home-bg-color"  ></app-navbar>
<app-home id="home"></app-home>
<app-features id="features"></app-features>
<app-screenshot id="screenshot"></app-screenshot>
<app-pricing id="pricing"></app-pricing>
<app-contact id="contact"></app-contact>
<div class="scrollToTopDiv fixed-bottom" *ngIf="showButton">
    <button
      class="btn scrollBtn text-white px-3"
      (click)= "  scrollToTop()"
      style="background-color:grey"
    >
      &#8686;
    </button>
</div>
<app-footer id="footer"></app-footer>


