.home-bg {
    background: rgba(0, 0, 0, 0) url(./../assets/welcome-bg.jpg) no-repeat scroll center center/cover;

}
.home-bg-color {
    background-color: #6b3ae3;
    opacity: 96%;
}
button{
    position: fixed;
    right: 20px;
    bottom: 20px;

    

}